.main {
  display: flex;
}
.card {
  width: 551px;
  height: 344px;
  background-color: #124164;
  border-radius: 35px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  align-self: flex-end;
}

[alt=chip] {
  width: 80px;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.info {
  flex: 1;
  margin-right: 25px;
  font-size: 24px;
}

p {
  margin: 0;
}

[alt='logo'] {
width: 130px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: auto 15px;
}

.label {
  margin: 0 15px;
}

input {
  margin: 10px;
}

.valid {
  text-align: right;
}